*, *::after, *::before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class^='col-']{
	float:left;
	padding:0;
	text-align: center;
}

.grid:after{
	content:"";
	display:block;
	clear:both;
}

section col-5of10{
	width:50%;
}

 section col-2of10{
	width:20%;
}

@media (max-width: 50rem){
	.col-2of10{
		width:33.33%;
	}
}

@media (max-width:33rem){
	.col-5of10{
		width:100%;
	}
	.col-2of10{
		width: 50%;
	}
}