*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Verdana", Helvetica, Arial, sans-serif;
  background-color: rgba(255, 255, 254, 1.0);
  color: rgba(30, 35, 35, 1.0);
  padding: 0;
  margin: auto;
  line-height: 1.5rem;
}


.products figcaption {
  text-align: center;
}

.products figure{
  display: inline-block;
  margin: 1.0rem;
}

header img.home{
  padding: 0 10%;
}

header img {
  padding: 0 15%;
}

#banner {
  line-height: 0;
}

#content {
  margin: 0 15%;
  border: 0;
}

.banner {
  width: 60%;
  margin-top: 2em;
  line-height: 0;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

p.Oswald-pre {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
}

ul {
  list-style: none;
  text-decoration: none;
}

section {
  margin: 1em 0;
  padding: 0.5em 0;
}

section h1 {
  font-weight: bold;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  margin: 1em 0;
}

section h2 {
  font-size: 1.45rem;
}

h2s {
  margin: 2.0rem;
}

section h3 {
  font-size: 90%;
  font-weight: normal;
  margin-bottom: 0.5em;
}

section h1 b, section h2 b, section h3 b {
  font-family: "Verdana", Helvetica, Arial, sans-serif;
  font-size: 1.0rem;
  font-weight: normal;
  color: rgba(135, 135, 135, 1.0);
  margin-left: 1.0rem;
}

section code {
  display: inline-block;
  background-color: rgba(230, 230, 230, 1.0);
  padding: 0.5em 0.75em;
}

b.archive a{
  float:right;
  font-size: 120%;
}

/* Using a 5 column grid */
.grid-col-1 {
  width: 20%;
}

.grid-col-2 {
  width: 40%;
}

.grid-col-3 {
  width: 60%;
}

.grid-col-4 {
  width: 80%;
}

.grid-col-5 {
  width: 100%;
}

[class^=grid-col-] {
  display: inline-block;
  float:left;
}

[class^=grid-col-] p {
  padding: 0 1.0rem;
  margin: 0;
}

.grid-50:after, .grid-25:after {
  display:block;
  content:"";
  clear: both;
}

/* Links */

section a {
  color: rgba(255, 110, 0, 1.0);
}

section a:hover, nav ul li a:hover {
  color: rgba(30, 35, 35, 1.0);
  transition: color 0.2s ease-in-out;
}

/* buttons */

#buttons li {
  display: inline-block;
  padding: 1.0rem;
}

a.btn {
  display: inline-block;
text-align: center;
white-space: normal;
padding: 10px 20px;
font-size: 16px;
line-height: 24px;
border-radius: 6px;
color: #fff;
background-color: #ffc0cb;
-webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
transition: border .25s linear,color .25s linear,background-color .25s linear;
-webkit-font-smoothing: subpixel-antialiased;
text-decoration: none;

}

a.submit {
  background-color: rgba(76, 216, 90, 1.0);
  /*background-color: rgba(50, 169, 247, 1.0);*/
  margin:0.5rem;
}
.form-default { 
   display: inline-block;
height: 42px;
padding: 8px 12px;
font-family: "Verdana", Helvetica, Arial, sans-serif;
font-size: 1em;
line-height: 1.467;
color: #7F8C8D;
border: 2px solid #7F8C8D;
border-radius: 6px;
box-shadow: none;
-webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
transition: border .25s linear,color .25s linear,background-color .25s linear;
} 

.form-default:focus { 
border-color: #27AE60;
outline: 0;
box-shadow: none;
}

a.submit:hover, a.submit2:hover {
  color: rgba(30, 35, 35, 1.0);
  background-color: rgba(206, 206, 206, 1.0);
}

a.cancel {
  color: rgba(135, 135, 135, 1.0);
  background-color: transparent;
}

a.cancel:hover {
  color: rgba(0, 0, 0, 1.0);
}

a.submit2 {
  background-color: rgba(76, 216, 90, 1.0);
  margin:0.5rem;
}

a.remove {
  background-color: rgba(200, 40, 40, 0.4);
}

a.remove:hover {
  background-color: rgba(0, 0, 0, 1.0);
  color: rgba(200, 40, 40, 1.0);
}

/* Navigation */
#topnav {
  margin: 0 15%;
  padding: 0;
  background-color: #eacf98;
}

#cartnav {
  margin: 0 15%;
  padding: 0;
  background-color: rgba(140, 140, 140, 1.0);
}

#topnav, #footer {
  text-align: center;
}

#cartnav {
  text-align: right;
  margin-top: 0.3rem;
}

#cartnav .nav-item {
  display: inline-block;
  padding: 0 0.3rem;
}

#cartnav .navitem img {
  width: auto;
  height: auto;
}

#footer .meta {
  text-align: center;
  margin: 0;
  padding: 0;
}

#footer .meta .footer-link{
  font-size: 0.7rem;
  display: inline-block;
  padding: 0 1.0rem;
  float: left;
  width: 20%;
  text-decoration: none;
}

#topnav .nav-item {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 1.4rem;
  width: 18%;
  padding: 1.0rem 0;
}

#stylenav #topnav .nav-item {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 1.4rem;
  width: 13%;
  padding: 1.0rem 0;
}

#topnav .nav-item:hover, #cartnav .nav-item:hover {
  color: rgba(255, 110, 0, 1.0);
}

#guide-nav ul {
  display: inline-block;
  margin: auto;
  width: auto;
}

#topnav div.selected a {
  color: rgb(255,110,0);
} 

#topnav a, #cartnav a, #cartnav .nav-item {
  color: rgba(255, 255, 255, 1.0);
  transition: color 0.2s ease-in-out;
  text-decoration: none;
}

#topnav a:hover, #cartnav a:hover {
  color: rgba(255, 110, 0, 1.0);
}
.button-link { 
text-align: center;
white-space: normal;
padding: 10px 20px;
font-size: 16px;
line-height: 24px;
border-radius: 6px;
color: #fff;
background-color: #ffc0cb;
-webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
transition: border .25s linear,color .25s linear,background-color .25s linear;
-webkit-font-smoothing: subpixel-antialiased;
text-decoration: none;
} 

.button-link:hover, .button-link:focus { 
color: #fff;
background-color: #f6dbd5;
border-color: #f6dbd5;
} 
.form-default { 
height: 42px;
padding: 8px 12px;
font-family: "Verdana", Helvetica, Arial, sans-serif;
font-size: 15px;
line-height: 1.467;
color: #7F8C8D;
border: 2px solid #7F8C8D;
border-radius: 6px;
box-shadow: none;
-webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
transition: border .25s linear,color .25s linear,background-color .25s linear;
} 

.form-default:focus { 
border-color: #27AE60;
outline: 0;
box-shadow: none;
}

.thankyou{
  text-align: center;
  padding: 2rem;
  font-size: 2.5rem;
  line-height: 140%;
}

nav ul li a {
  color: rgba(255, 110, 0, 1.0);
  text-decoration: none;
}

/* Forms */

.input-wrapper {
  padding: 0.5rem;
}

input {
  padding: 0.5rem 3.0rem 0.5rem 0.5rem;
}

input.form-search {
  border-radius: 1.0rem;
  padding: 0.5rem 3.0rem 0.5rem 0.8rem;
}


/* merch test */

[class^=grid-col-] figure{
  background-color: rgba(255, 0, 0, 0.7);
  text-align: center;
}

[class^=grid-col-] figure figcaption {
  color: rgba(255, 255, 255, 1.0);
  background-color: #eacf98;
  padding: 0.2rem;
}

[class^=grid-col-] figure figcaption a{
    color: rgba(255, 255, 255, 1.0);
    text-decoration: none;
}

[class^=grid-col-] figure figcaption a:hover{
    color: rgba(255, 110, 0, 1.0);
}

.grid-50 .products {
    background-color: rgba(235, 235, 235, 1.0);
  }

  .product-desc {
    padding-left: 4.0rem;
  }

/*checkout cart*/

/* index-layout:re */

.grid-50 .featured-item {
  background-color: rgba(235, 235, 235, 1.0);
  padding: 1.0rem;
}


/*============================================================*/
/*Responsive adjustments*/

@media screen and (max-width: 489px) {

  body {
    font-size: 0.8rem;
  }

  #topnav, #footer {
    padding-left: 0
  }

  #topnav .nav-item, #footer .footer-link {
    font-size: 1.0rem;
    width: 100%;
    line-height: 0.8rem;
  }

  #content{
    padding: 0 5%;
    margin: 0 5%;
  }

  #content img{
    width: auto;
  }


  [class^=grid-col-] {
    display:block;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
#stylenav #topnav, #topnav, #cartnav, #footer, header img {
    padding: 0;
    margin: 0;
  }

  #content {
    margin: 0;
    padding: 0 7%;
  }

  #stylenav #topnav .nav-item {
    width: 18%;
  }
}

@media screen and (max-width: 800px) {
  #content {
    margin: 0;
    padding: 0 9%;
  }

  #stylenav #topnav, #topnav, #cartnav, #footer, header img {
    padding: 0;
    margin: 0;
  }

}

@media screen and (max-width: 1180px) {
  #content {
    padding: 0 5%;
    margin: 0;
  }
  #stylenav #topnav, #topnav, #cartnav, #footer, header img {
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 2500px) {
  section h1 {
    font-size: 3.0rem;
  }

  section h2 {
    font-size: 2.6rem;
  }

  section h3 {
    font-size: 2.2rem;
  }


  #content{
    padding: 0 15% 0 35%;
    margin: -19% 0 0 0;
    font-size: 2.0rem;
    line-height: 3.2rem;
  }

  .item-name {
    font-size: 1.4rem;
    line-height: 2.0rem;
  }

  #stylenav #topnav, #topnav, #cartnav, header img, header img.home{
    padding: 0;
    width: 30%;
    margin: 0;
  }

  #topnav .nav-item {
    padding: 1.0rem 0;
    margin: 0;
    width: 100%;
    font-size: 2.8rem;
    line-height: 4.0rem;
  }

  #cartnav {
    padding: 1.0rem 1.0rem 1.0rem 0;
    font-size: 1.4rem;
  }
}