/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  font-family: Verdana, Geneva, sans-serif;
  padding: 2rem;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  font-family: 'Source Sans Pro';
  font-size: 20px;
  margin-bottom: 0;
  display:block;
}
section h4 {
  font-family: 'Source Sans Pro';
  margin-bottom: 0;
  font-size: 20px;
}

section p {
  margin-top: 0;
  font-size:16px;
}

section code {
  background-color: #000;
  padding: 0.5em 0.75em;
}

section img{
  cursor:pointer;
}

section h1 {
  font-family: 'Source Sans Pro';
  font-size: 47px;
}
section h2 {
  font-family: 'Source Sans Pro';
  font-size: 32px;
}



/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #333;
  /*border-radius: 0.1em;*/
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
.nav_button{
  color:#999;
  display: block;
  font-size: 37px;
}
.code{
  display: block;
  color: white;
}
.nav_button:hover{
  color: red;
  cursor:pointer;
}

.button-nav:hover, .button-nav:focus {
  background-color: #999;
}
.text-field{
  height: 30px;
  padding: 8px 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.467;
  color: #CAC2DE;
  border: 2px solid #CAC2DE;
  border-radius: 6px;
  box-shadow: none;
  -webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
  transition: border .25s linear,color .25s linear,background-color .25s linear;
}
 .text-field:focus{
border-color: #27AE60;
  outline: 0;
  box-shadow: none;
}
 .button-link {
  font-family: 'Cabin', Arial, serif;
  text-align: center;
  white-space: normal;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 6px;
  color: #000;
  background-color: #EAA698;
  -webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
  transition: border .25s linear,color .25s linear,background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  text-decoration: none;
 }

 .button-link:visited{
  color: #000;
  background-color: #EAA698;
 }

 .button-link:hover, .button-link:focus {
  color: #000;
  background-color: #f6dbd5;
 }
 .link:hover{
  color: #DB21B8;

 }
.button-nav, .button-nav:visited {
  font-family: 'Cabin', Arial, serif;
  display: inline-block;
  background-color: #eacf98;
  color: white;
  padding: 1em 1.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

/*section a:hover{
color:#66FF66;
}
*/

.button-nav:hover, .button-nav:active, .button-nav:focus {
  background-color: gray;
  color: white;
}


/* 
  TEXT ELEMENTS -------------------
*/




/* 
  COMBINED ELEMENTS -------------------
*/